{% extends "layout.html" %}

{% block content %}
<div class="container">


    <br>
<h4 class="projects-heading">Fotos de las islas</h4>
<div class="projects-grid">
    <img class="projects-image" src="/../images/lanzarote.jpg" height="300" width="300"/>
    <img class="projects-image" src="images/elhierro.jpg" height="300" width="300"/>
    <img class="projects-image" src="images/lagomera.jpg" height="300" width="300"/>
    <img class="projects-image" src="images/lagraciosa.jpg" height="300" width="300"/>
    <img class="projects-image" src="images/lapalma.jpeg" height="300" width="300"/>
    <img class="projects-image" src="images/fuerteventura.png" height="300" width="300"/>
    <img class="projects-image" src="images/grancanaria.png" height="300" width="300"/>
    <img class="projects-image" src="images/tenerife.jpeg" height="300" width="300"/>

</div>


    <div>
        <h4 id="parrafo4">Enlazar a páginas web</h4>
        <a href="https://es.wikipedia.org/wiki/Pepe_Benavente">Este es Pepe Benavente (mi Dios)</a> <br>
        <a href="http://127.0.0.1:5000/about">Este enlace lleva a About (web local)</a>
    </div>
    <br>
    <h4 id="parrafo4">Creamos una tabla</h4>
    <div class="table">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
    </div>
    <br>
    <div class="jumbotron">
        <h1 class="display-4">Canarias Libre</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
            featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
    <div class="project-image-wrapper">
        <img class="big-picture" src="https://viajes.nationalgeographic.com.es/medio/2020/02/13/fuerteventura_f9cff96a_1280x720.jpg">
        <h1> ISLAS CANARIAS</h1>
    </div>

</div>
{% endblock %}